.trade_tags {
  display: flex;
  flex-direction: column;
  max-height: 70px;
  position: relative;

  .tag {
    background: var(--button);
    padding: 5px 10px;
    color: var(--text-light);
    border-radius: 2px;
    font-size: 0.7rem;
    margin: 0 5px 5px 0;
  }
}

.pointer {
  cursor: pointer;
}
