.table_wrapper {
  overflow-x: auto;
  width: 100%;
  display: block;
  position: relative;
  min-height: 200px;
  padding-bottom: 5rem;
}

.table {
  clear: both;
  margin: 5px 0;
  border-collapse: collapse;
  font-size: 0.9rem;
  width: 100%;
  thead,
  tbody,
  tr {
    text-align: left;
    width: 100%;
  }

  td,
  th {
    padding: 1rem 0.5rem;
    position: relative;
  }
  th {
    padding-right: 20px;
  }

  tbody tr:nth-child(odd) {
    background: var(--primary-dark);
  }

  th {
    .arrows {
      position: relative;
      margin-left: 5px;
      &::before {
        content: "\2193";
        position: absolute;
        left: 0;
        top: 0;
      }
      &::after {
        content: "\2191";
        position: absolute;
        left: 5px;
        top: 0;
      }
    }
    button {
      font-weight: bold;
      font-size: 0.9rem;
    }
  }
}

.bold {
  font-weight: bold;
}

.ascending::after,
.descending::before {
  color: var(--button);
}
