.table_wrapper {
  overflow-x: auto;
  width: 100%;
  display: block;
  position: relative;
  min-height: 200px;
}

.table {
  clear: both;
  margin: 5px 0;
  border-collapse: collapse;
  font-size: 0.9rem;
  width: 100%;
  thead,
  tbody,
  tr {
    text-align: left;
    width: 100%;
  }

  td,
  th {
    padding: 1rem 0.5rem;
    position: relative;
  }
  th {
    padding-right: 20px;
  }

  tbody tr:nth-child(odd) {
    background: var(--secondary);
  }
}

.trade_tags {
  display: flex;
  flex-direction: column;
  max-height: 70px;
  position: relative;

  .tag {
    background: var(--button);
    padding: 5px 10px;
    color: var(--text-light);
    border-radius: 2px;
    font-size: 0.7rem;
    margin: 0 5px 5px 0;
  }
}

.pointer {
  cursor: pointer;
}
