.quill {
  z-index: 150;
  position: relative;
  border: none;
  border-radius: 5px;

  .ql-toolbar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .ql-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .ql-snow .ql-stroke {
    stroke: var(--text);
  }
  .ql-snow .ql-picker-options {
    background: var(--secondary);
  }

  .ql-editor {
    min-height: 200px;
  }
}
