.filters {
  padding: 15px 30px;
  background: var(--secondary);
  border-radius: 5px;

  .section_title {
    padding: 10px 15px;
    background: var(--aluxury);
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    margin-bottom: 20px;
  }
  .filters_options {
    display: flex;
  }
}

.input {
  background: var(--primary-dark);
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
  color: var(--headers);

  margin: 0 25px;
  &::placeholder {
    color: var(--text);
  }
}
