.input {
  background: var(--primary-dark);
  border-radius: 5px;
  border: none;
  outline: none;
  color: var(--text-white);
  padding: 10px;
  width: 100%;
  height: 43px;
  display: block;
  border: 1px solid var(--border);

  @media screen and (min-width: 1025px) {
    height: 52px;
  }
}

.label {
  margin: 10px 0;
  display: block;
}
