.input {
  background: var(--primary-dark);
  border-radius: 5px;
  border: none;
  outline: none;
  color: var(--text-white);
  padding: 10px;
  width: 100%;
  height: 41px;
  display: block;
  border: 1px solid #47515d;
  &::placeholder {
    color: var(--text);
  }
}

.label {
  margin: 10px 0;
  display: block;
}

.col-3 {
  max-width: 33.3%;
  flex: 0.33%;
  padding: 0 10px;
}

.col-10 {
  flex: 0.83%;
  max-width: 83.8%;
}
