html,
body {
  --button: #1072fb;
  --text: #aab8b1;
  --text-light: #eee;
  --headers: #fff;
  .light_theme {
    --primary: #343a40;
    --secondary: #3a444e;
    background: var(--primary);
  }

  .dark_theme {
    --primary: #343a40;
    --secondary: #3a444e;
    --aluxury: #4d5764;
    --primary-dark: #363f49;
    background: var(--primary);

    .bg-dark {
      background: var(--primary-dark);
    }
  }
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
  font-style: inherit;
}

.btn {
  cursor: pointer;
}

.btn-unstyled {
  @extend .btn;
  border: none;
  background: none;
}

.container {
  max-width: 1600px;
  padding: 0 60px;
}
