@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

@import "./icons";

:root {
  --button: #1072fb;
  --text: #aab8c5;
  --text-light: #eee;
  --text-white: #fff;
  .light_theme {
    --primary: #343a40;
    --secondary: #3a444e;
    background: var(--primary);
  }

  .dark_theme {
    --primary: #343a40;
    --secondary: #3a444e;
    --aluxury: #464f5b;
    --primary-dark: #363f49;
    background: var(--primary);

    .bg-dark {
      background: var(--primary-dark);
    }
  }
}
html,
body {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-white);
  padding: 20px 0;
}

* {
  padding: 0;
  margin: 0;
  color: var(--text);
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text);
  font-style: inherit;
}

ul,
ol {
  list-style-position: inside;
}

.list-unstyled {
  list-style: none;
}

.container {
  max-width: 1600px;
  padding: 0 60px;

  @media screen and (max-width: 1023px) {
    padding: 0 20px;
  }
}

// Margins

.mt-1 {
  margin-top: 20px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

// Page

.page_title {
  padding: 30px 0;
}

// Columns

.col-3 {
  max-width: 33.3%;
  flex: 0 0 33%;
  padding: 0 10px;

  @media screen and (max-width: 767px) {
    max-width: 100%;
    padding: 0;
    flex: unset;
    width: 100%;
    margin-bottom: 20px;
  }
}

.col-5 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 12px;

  @media screen and (max-width: 767px) {
    flex: unset;
    width: 100%;
    max-width: 100%;
  }
}

.col-10 {
  flex: 0 0 83%;
  max-width: 83.8%;

  @media screen and (max-width: 767px) {
    flex: 1 auto;
    width: 100%;
    max-width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 30px;
}

// Sections

.section {
  padding: 35px 30px;
  background: var(--secondary);
  border-radius: 5px;
  margin-bottom: 35px;

  .section_title {
    padding: 10px;
    background: var(--aluxury);
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    margin-bottom: 20px;
  }
  .section_content {
    display: flex;
    flex-wrap: wrap;
  }
}
