@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

@import "./icons";

html,
body {
  --button: #1072fb;
  --text: #aab8c5;
  --text-light: #eee;
  --text-white: #fff;
  .light_theme {
    --primary: #343a40;
    --secondary: #3a444e;
    background: var(--primary);
  }

  .dark_theme {
    --primary: #343a40;
    --secondary: #3a444e;
    --aluxury: #464f5b;
    --primary-dark: #363f49;
    background: var(--primary);

    .bg-dark {
      background: var(--primary-dark);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-white);
  padding: 20px 0;
}

* {
  padding: 0;
  margin: 0;
  color: var(--text);
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
  font-style: inherit;
}

.container {
  max-width: 1600px;
  padding: 0 60px;
}

.mt-1 {
  margin-top: 20px;
}

.mt-2 {
  margin-top: 20px;
}
