.btn {
  border: none;
  padding: 10px 20px;
  background: var(--button);
  color: var(--text-white);
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.btn--unstyled {
  background: none;
}

.btn--submit {
  background: #2ec08a;
}
