.balance {
  padding: 0 12px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--secondary);
  margin: 0 12px;

  &_header {
    color: var(--text);
    padding: 15px 10px 0;
  }
  .chart {
    height: 400px;
    width: 100%;
    padding: 10px 0;

    .arrow_box {
      padding: 10px;
    }
  }
}

.ticket {
  padding: 0 12px;
  width: 100%;
  &_body {
    background: var(--secondary);
    padding: 0 20px 20px;
    .ticket_header {
      color: var(--text);
    }
    .table {
      width: 100%;
      border-top: 1px solid var(--border);
    }
  }
}

@media screen and (max-width: 767px) {
  .balance,
  .ticket {
    padding: 0;
    margin: 0 0 20px 0;
  }

  .ticket .ticket_header,
  .balance .balance_header {
    font-size: 0.875rem;
  }
}
