.card {
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  .card_body {
    padding: 0 1.5rem;
    background: var(--secondary);

    .card_value {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    .card_text {
      padding: 5px 0;
      &:first-child {
        padding-top: 0;
      }
    }
  }
}

.row-align-center {
  align-items: center;
}

@media screen and (max-width: 767px) {
  .card_body .col-5 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
  }
}
