.card {
  background: var(--primary-dark);
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  .card_body {
    display: flex;
    flex: 1 1 auto;
    padding: 0 1.5rem;

    .card_value {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    .card_text {
      padding: 5px 0;
      &:first-child {
        padding-top: 0;
      }
    }
  }
}

.row-align-center {
  align-items: center;
}
