.card {
  background: var(--primary-dark);
  border-radius: 5px;
  margin-bottom: 20px;
  .card_body {
    display: flex;

    .card_col {
      flex: 1;
      padding: 20px;
    }

    .card_text {
      padding: 10px 0;
    }
  }
}
