.calendar {
  z-index: 151;
  min-width: 150px;
  position: relative;
  background: var(--primary-dark);
  border: 1px solid #47515d;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;

  .calendar_input {
    position: absolute;
    bottom: 0;
    z-index: 12;
    transform: translate(50%, 50%);
    min-width: 350px;
    background: var(--primary-dark);
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;

    @media screen and (max-width: 767px) {
      min-width: auto;
      transform: translate(0, -102%);
      top: 0;
      bottom: unset;
    }
  }

  .calendar_input--open {
    opacity: 1;
    visibility: visible;
  }

  .calendar_value {
    color: var(--text-white);
    padding: 10px;
    width: 100%;
  }
}
