.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #ccc;
    opacity: 0.4;
  }
  .modal_content {
    min-height: 150px;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary);
    background: #333;
    color: #fff;
    z-index: 20000;
    padding: 20px;
    border-radius: 5px;
  }
}
