.list {
  background: var(--aluxury);
  position: absolute;
  min-width: 160px;
  transform: translateY(100%);
  right: 0;
  bottom: 0;

  display: none;
  z-index: 10;

  border: 1px solid var(--border);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 1px 3px var(--primary);

  transition: all 0.3s ease;

  .list_link {
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    width: 100%;
    color: var(--text);

    white-space: nowrap;
    &:hover {
      color: var(--text-light);
      background: var(--secondary);
    }
  }
}

.list--open {
  height: auto !important;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .list {
    position: relative;
    width: 100%;
    display: block;
    transform: translateY(0);
    background: none;
    box-shadow: none;
    border: none;
    height: 0;
    overflow: hidden;
    .list_item {
      padding-left: 10px;
      .list_link {
        text-align: left;
        padding: 0 15px 10px 15px;
      }
    }
  }
}
