.list {
  background: var(--aluxury);
  position: absolute;
  min-width: 160px;
  transform: translateY(100%);
  right: 0;
  bottom: 0;

  display: none;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 1px 3px var(--primary);

  transition: all 0.3s ease;

  .list_item {
    padding: 10px 15px;
    text-align: center;
    color: var(--text);
    &:hover a {
      color: var(--text-light);
    }
  }
}
