.list {
  background: var(--aluxury);
  position: absolute;
  min-width: 130px;
  transform: translateY(100%);
  right: 0;
  bottom: 0;
  padding: 10px;

  display: none;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 1px 3px var(--primary);

  transition: all 0.3s ease;

  .list-item {
    padding: 5px 0;
    text-align: center;
    color: var(--text);
    a {
      transition: all 0.3s ease;
      &:hover {
        color: var(--headers);
      }
    }
  }
}
