.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  height: 100%;
  .tag {
    background: var(--button);
    margin-right: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    .tag_value {
      padding: 3px 5px;
      color: var(--text-light);
      font-size: 0.8rem;
    }
    .tag_remove {
      width: 10px;
      height: 10px;
      fill: var(--text-light);
    }
  }

  .input_wrap {
    flex: 1;
  }
  .tag_input {
    transition: all 0.3s ease;
    border: none;
    width: 100%;
    height: 100%;
    padding: 3px;
    outline: none;
    top: 0;
    left: 0;
    flex: 1;
    color: var(--text-light);
    background: none;
  }
}
