.trade {
  background: var(--secondary);
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  .trade_img {
    width: 100%;
    height: 400px;
    background: var(--text);
    img {
      display: block;
      height: 100%;
      width: 100%;
    }
    .img-default {
      width: 200px;
      height: 200px;
    }
  }

  .trade_body {
    padding: 20px;

    .trade_tags {
      flex-direction: row;
      justify-content: flex-start;
      .tag {
        flex-grow: 0;
        &:last-child {
          margin-bottom: 5px;
        }
      }
    }
    .trade_text {
      padding: 5px 0;
      span {
        margin-left: 5px;
      }
    }
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.processing {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
  height: 100%;
  width: 100%;
  &::after {
    content: "";
    position: absolute;
    background: var(--secondary);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .processing_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.processing_loader {
  border: 8px solid var(--text-light);
  border-top: 8px solid var(--button);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
