.loader_wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20000;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: relative;
}

.loader_icon {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: var(--success);
  animation: bounce 1s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes bounce {
  0% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
  40% {
  }
  50% {
    top: 140px;
    height: 140px;
    -webkit-animation-timing-function: ease-out;
  }
  55% {
    top: 160px;
    height: 120px;
    -webkit-animation-timing-function: ease-in;
  }
  65% {
    top: 120px;
    height: 140px;
    -webkit-animation-timing-function: ease-out;
  }
  95% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
  100% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
}
